%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}