//----------------------------------
//              Fonts
//----------------------------------

//@include font-face('Font Name', '../fonts/font-files-bold', bold);

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: Georgia, serif;



//----------------------------------
//              Colors
//----------------------------------

$light-grey: #f1f1f1;
$grey: #eeeeee;
$dark-grey: #888;
$black: #111;

$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

$primary-color: $red;
$secondary-color: $blue;



//-----------------------------------
//      Susy Grid & Breakpoints
//-----------------------------------

$susy: (
    columns: 12,
    gutters: 0,  
    gutter-position: inside,
    global-box-sizing: border-box, 
//    debug: (       
//        image: show,
//        color: rgba(#66f, .25),
//        output: overlay, 
//        toggle: bottom right,
//    )
);

$max-wrapper-width: 1140px;
$font-size-breakpoint: 900px;